html {
  box-sizing: border-box;
}

*, ::after, ::before {
   box-sizing: inherit;
}
body {
  background-image: url("https://cdn.pixabay.com/photo/2016/07/02/22/27/european-union-1493894_960_720.jpg");
  background-size: cover;
}
